*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/
# gradle.properties is committed with base config, but exclude local overrides with signing credentials
gradle.properties.local
/composeApp/keystore.jks
/composeApp/release/composeApp-release.apk
/composeApp/release/output-metadata.json
grad_poroperties_local_deploy
